{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">Article</h1>
        <p class="lead blog-description">Python/Django TEST BLOG</p>
    </div>
    <div class="row">
        <div class="col-sm-8 blog-main">
            {% if article_list %}
                {% for article in article_list %}
                <div class="blog-post">
                    <h2 class="blog-post-title">
                        <a href="{% url "detail" article.id %}">{{ article.title }}</a>
                    </h2>
                    <h5 class="blog-post-title">{{ article.subTitle }}</h5>
                    <small>{{ article.category }}</small>
                    <small>{{ article.created_at }}</small>
                </div>
                <br/>
                {% endfor %}
            {% else %}
                <h2>게시글이 없습니다.</h2>
            {% endif %}
        </div>
        <!-- /.blog-main -->
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>Category</h4>
                <ol class="list-unstyled">
                    {% for category in category_list %}
                        <li>
                            <small>
                                <a href="/articles/?category={{ category }}">{{ category }}</a>
                            </small>
                        </li>
                    {% endfor %} 
                </ol>
            </div>
            <div class="sidebar-module">
                <h4>HashTag</h4>
                <ol class="list-unstyled">
                    {% if hashtag_list %}
                        {% for hashtag in hashtag_list %}
                        <li>
                            <small><a href="/articles/?hashtag={{ hashtag.tag }}">{{ hashtag.tag }}</a></small>
                        </li>
                        {% endfor %}
                    {% endif %}
                </ol>
            </div>
        </div>
        <!-- /.blog-sidebar -->
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}